nav{
    height: 100vh;
}

.login-box{
    height: 100%;
}

.ptk-logo{
    filter: drop-shadow(5px 5px 5px #aaa);
}

.txt-alert-primary{
    color: #76acff;
}

.font-cursive {
    font-family: Cursive, Brush Script MT, sans-serif;
}

.lb-width{
    width: 100%;
}
@media screen and (min-width: 992px) {
    .lb-width{
        width: 25%;
    }
}